html {
    font-size: 16px;
}
.main {
    text-align: center;
}

.becode-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.goals {
    display: grid;
    grid-template-columns: repeat(4, 15%);
    justify-content: center;
    border: 2px solid black;
}

.section-a {
    display:grid;
    grid-template-columns: 50% 50%;
    border: 2px solid black;
}

.section-a ul {
    padding-left: 0px;
}

i {
    margin-right: auto;
    margin-left: auto;
}
.header2 {
    text-align:center;
}

.section-a li {
    padding: 7px;
    list-style:none;
}

.gains {
    display: flex;
    flex-direction: column;
    margin-right: 110px;
}

.section-b {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 2px solid black;

}

.pc-icon {
    padding-top: 46px;
}

h2 {
    text-align: center;
}
.section-c {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    grid-gap: 70px;
}

.cities {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cities div {
    position: relative;
    border: 1px solid black;
}

.cities h3 {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: auto;
}

.cities div:nth-child(1) {
    background-image: url(images/becentral.jpg);
    background-position: center;
    width: 450px;
    height: 300px;
    background-size: cover;
    margin: 40px;
}

.cities div:nth-child(2) {
    background-image: url(images/genk.jpg);
    background-position: center;
    width: 450px;
    height: 300px;
    background-size: cover;
    margin: 40px;
}

.cities div:nth-child(3) {
    background-image: url(images/liege.jpg);
    background-position: center;
    width: 450px;
    height: 300px;
    background-size: cover;
    margin: 40px;
}

.cities div:nth-child(4) {
    background-image: url(images/anvers.jpg);
    background-position: center;
    width: 450px;
    height: 300px;
    background-size: cover;
    margin: 40px;
}

.cities div:nth-child(5) {
    background-image: url(images/charleroi.jpg);
    background-position: center;
    width: 450px;
    height: 300px;
    background-size: cover;
    margin: 40px;
}

.cities-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cities-info div {
    border: 1px solid black;
    width: 450px;
    height: 300px;
    margin: 40px;
}

.section-d > p {
    text-align: center;
    
}

.section-d > h2 {
    margin-bottom: 40px;
}
.conditions {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    justify-content: center;
    grid-gap:45px;
    text-align: center;
    margin-top: 40px;
}

.conditions p {
    font-size: 16px;
    text-align: left;
}

.try {
    margin: auto;
    text-align: center;
    
}

.button {
    width:600px;
    height:72px;
    border: 5px solid black;
    margin-left:auto;
    margin-right:auto;
    display: block;
    line-height: 70px;
    margin-top: 70px;
}
