html {
    font-size: 16px;
}
.main {
    text-align: center;
}

.becode-logo {
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.goals {
    display: grid;
    grid-template-columns: repeat(4, 15%);
    justify-content: center;
    border: 2px solid black;
}

.section-a {
    display:grid;
    grid-template-columns: 50% 50%;
    border: 2px solid black;
}

.section-a ul {
    padding-left: 0px;
}

i {
    margin-right: auto;
    margin-left: auto;
}
.header2 {
    text-align:center;
}

.section-a li {
    padding: 7px;
    list-style:none;
}

.gains {
    display: flex;
    flex-direction: column;
    margin-right: 110px;
}

.section-b {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 2px solid black;

}

.pc-icon {
    padding-top: 46px;
}

h2 {
    text-align: center;
}
.section-c {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
}
.cities {
    display: grid;
    grid-template-rows: repeat(5,450px);
    justify-content: center;
}

.cities h3 {
    margin:auto;
}

.cities-info {
    display: grid;
    grid-template-rows: repeat(5, 450px);

}

.cities-info p {
    margin: auto;
}

.sub1 {
background-image: url(images/becentral.jpg);
}